* {
  margin: 0;
  padding: 0;
}
.first-pic {
  width: 100%;
  height: 90vh;
}
.login {
  background-color: rgba(0, 0, 0, 0.61);
  height: 39px;
}
.login-1 li {
  display: inline-block;
  margin-right: 18px;
  margin-top: 10px;
}
.login-1 li a {
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  font-family: "pt_sansregular";
}
.shop {
  margin-left: 1060px;
}
.icon {
  margin-top: 10px;
  width: 10px;
  height: 10px;
}
.pic {
  display: block;
  width: auto;
  position: absolute;
  margin-top: 5px;
  margin-left: 35px;
}
.pic-2 {
  display: block;
  width: auto;
  position: absolute;
  margin-left: 1180px;
  margin-top: 10px;
}
.h1 {
  width: 100%;
  margin-bottom: 50px;
}
.h2 {
  margin-right: 90px;
  margin-left: 90px;
  display: flex;
}
.h3 {
  width: 50%;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #624a3d;
  margin-top: 100px;
  text-align: right;
}
.h4 {
  width: 50%;
  font-size: 54px;
  font-family: "playfair_displayregular";
  color: #30211a;
  margin-top: 85px;
  margin-bottom: 10px;  
  font-weight: 500;
  margin-left: 30px;
}
.pic-1{
    margin-top: 30px;
    width: 40px;
}
.h5{
    width: 100%;
    background-image: url(images/redbackgnd.png);
}
.h6{
    padding: 200px;
    display: flex;
}
.h6 img{
    margin-left: 15px;
    margin-right: 20px;
}
.p{
    width: 300px;
}
.p1{
    text-align: center;
    color: #fff;
    font-family: 'pt_sansregular';
    font-size: 15px;
    line-height: 20px;
    margin-right: 10px;
}
.p1 a{
    text-decoration: none;
    color: #ffffff;
}
.h{
    color: #fff;
    font-size: 50px;
    margin-right: 50px;
    margin-left: 75px;
    margin-top: -202px;
    position: absolute;
}
.h:hover{
    font-size: 60px;
}
.c2{
    margin-right: 90px;
    margin-left: 90px;
    display: flex;

}
.coffee{
    margin-left: 67px;
    margin-top: 25px;
    width: 400px;
}
.c4{
    font-size: 54px;
    font-family: 'playfair_displayregular';
    color: #30211a;
    margin-right: 90px;
    margin-top: 150px;
}
.c5{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #624a3d;
    margin-left: 30px;
    margin-top: 20px;
    width: 100%;
}
.pic-3{
    margin-left: 530px; 
    margin-top: 10px;
}
.p3{
    margin-right: 40px;
}
.black{
    width: 100%;
}
.ft-1{
    margin-left: 630px;
    margin-top: 15px;
}
.ft-3{
    display: flex;
    list-style: none;
    margin-top: 30px;
    margin-left:300px;
}
.ft-3 li{
    margin-left: 35px;
}
.ft-3 a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'pt_sansregular';
    color: #5a5a5a;
}
.ft-4{
    margin-left: 300px;
    margin-right: 280px;
    border-top: 1px dotted #c0c0c0;
}
.ft-5{
    height: 70px;
    background-color: #e31622;
}
.ft-6{
    color:#ffffff;
    font-size: 15px;
    margin-left: 90px;
    padding: 30px;
}
.ft-7{
    font-size: 16px;
    color: #666565;
    width: 714px;
    text-align: center;
    margin-left: 340px;
    margin-top: 25px;
    margin-bottom: 60px;
}
